# TrustFL Environment Template

# Database
POSTGRES_USER=trustfl
POSTGRES_PASSWORD=trustfl_secret_pass
POSTGRES_DB=trustfl

# Blockchain
WEB3_PROVIDER_URI=http://127.0.0.1:8545

# IPFS
IPFS_URL=http://127.0.0.1:5001

# Coordinator
FL_MIN_CLIENTS=2
FL_NUM_ROUNDS=3
COORDINATOR_PORT=8100
